<link rel="icon" href="{{ $.Site.BaseURL }}img/main/favicon.ico" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>

<!-- BEGIN USGS Header Template -->

			<div id="usgscolorband">

				<div id="usgsheader">

					<div id="usgsidentifier">
						<a href="http://www.usgs.gov/" target="_blank"><img src="{{ $.Site.BaseURL }}images/usgslogo.jpg" alt="USGS - science for a changing world" title="U.S. Geological Survey Home Page"/></a>
					</div><!--usgsidentifier-->

					<img id="banner" src="{{ $.Site.BaseURL }}images/banner.png" alt="banner"/>

					<div id="usgsccsabox">

						<div id="usgsccsa">
							<a href="http://www.usgs.gov/">USGS Home</a>
							<br /><a href="http://answers.usgs.gov/cgi-bin/gsanswers?tmplt=2">Contact USGS</a>
							<br /><a href="http://search.usgs.gov/">Search USGS</a>
							<br />
						</div><!--usgsccsa-->

					</div><!--usgsccsabox-->

				</div><!--usgsheader-->
			</div><!--colorband-->

			<!-- END USGS Header Template -->

<header class="l-header">
			
  <div class="p-logo">
    <div id="desktopNav">
      <img id="mobileBurger" src="{{ $.Site.BaseURL }}/images/mobileburger.png" alt="mobile nav menu"/>
      <ul id="navigation">
        <li><a href="http://owi.usgs.gov/R/index.html">Home</a></li>
        <li><a href="http://owi.usgs.gov/R/about.html">About</a></li>
        <li><a href="http://owi.usgs.gov/R/resources.html">Resources</a></li>
        <li class="shower"><a href="http://owi.usgs.gov/R/training.html">Training</a>
          <ul id="trainingDropdown">
					  <li><a href="training.html">Training Schedule</a></li>
					
					  <li>
						  <a href="http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/intro-curriculum/">
					      Introduction to R Curriculum
						  </a>
					  </li>
					
					  <li><a href="#">Course Specific Materials</a></li>
				  </ul>
        </li>
        <li class="mobileLinks">
				  <a href="http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/R/intro-curriculum/">
				  Introduction to R Curriculum
				  </a>
			  </li>
			  <li class="mobileLinks"><a href="#">Course Specific Materials</a></li>
        <li><a href="http://owi.usgs.gov/R/gran.html">GRAN</a></li>
		    <li><a href="http://owi.usgs.gov/R/contact_contribute.html">Contact</a></li>
      </ul>

    </div>
  </div>
</header>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#mobileBurger').on('click', function(){
       $('#navigation').toggle('slow');
    });
</script>
