<aside class="site">

  {{ if ne (len .Site.Menus) 0 }}
  <section>
    <header>Menu</header>
    <div>
      <nav class="p-menu">
        {{ range .Site.Menus }}
        <ul>
          {{ range . }}
          <li>
            {{ if .HasChildren }}
            <span class="accordionSignal"></span>
            <a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
            <ul>
              {{ range .Children.ByWeight }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
        {{end}}
      </nav>
    </div>
  </section>
  {{ end }}
  
  {{ if and .IsPage (ne .Params.toc false) }}
  <section>
    <header>Table Of Contents</header>
    <div>{{ .TableOfContents }}</div>
  </section>
  {{ end }}

</aside>

<script>
  $('.accordionSignal').each(function(){
    $(this).on('click', function(){
      $(this).toggleClass('minus');
      $(this).parents('li').children('ul').toggle('slow');
    });
  });
</script>
