<aside class="site">

  {{ if ne (len .Site.Menus) 0 }}
  <section>
    <header>Menu</header>
    <div>
      <nav class="p-menu">
        {{ range .Site.Menus }}
        <ul>
          {{ range . }}
          <li>
            {{ if .HasChildren }}
            <a href="#">{{ .Pre }} {{ .Name }}</a>
            <ul>
              {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
          {{ end }}
          {{end}}
        </ul>
        {{end}}
      </nav>
    </div>
  </section>
  {{ end }}
  
  {{ if and .IsPage (ne .Params.toc false) }}
  <section>
    <header>Table Of Contents</header>
    <div>{{ .TableOfContents }}</div>
  </section>
  {{ end }}

</aside>
