
{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <h1 class="p-page-title">R Training Curriculum</h1>
      
      <p>
        This is a collection of the USGS R training curriculum, and materials that correspond to specific workshops. Currently, there is only one course - <i>Introduction to R</i>. The curriculum used throughout this workshop is available here. Navigate using the side menu or the "Next/Prev" buttons on each lesson. 
      
        </br> </br>  
      
        To learn more about how to schedule a training, visit the <a href="http://owi.usgs.gov/R/training.html">USGS-R training homepage</a>.

      </p>

      </br>

      <ul>
      {{ range $section, $pages := .Site.Sections }}
         <li><a href="/{{ $section }}">{{ title $section }}</a></li>
      {{ end }}
      </ul>

      {{ partial "pagination.html" . }}

    </div>

    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>

{{ partial "footer.html" . }}
